.container-fluid{
    /* border:1px solid black; */
    padding:10px;
    margin-top: 10px;
}
.required::after{
    content: "*";
    color: red;
  }

.row {
    border:0px solid red;
}
.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    border:0px solid green;
    padding-top: 5px;
}

.col,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    border:0px solid green;
    padding: 5px;
}
.toolbar{
    float:right;
}